<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    <div><label>id: </label>{{repo.appID}}</div>
    <ul class="heroes">
      <li *ngFor="let r of repos" (click)="onSelect(r)" [class.selected]="r === selectedRepository">
        <span class="badge">{{r.appID}}</span> {{r.repoName}}
      </li>
    </ul>
    <div *ngIf="selectedRepository">
      <h2>
        {{ repo.repoName | uppercase}} is my hero
      </h2>
      <!--<button (click)="gotoDetail()">View Details</button>-->
    </div>
  </h1>
</div>
